/* MAIN BLOCKS */
* {outline: none; font-family: sans-serif;}
body {margin: 0; padding: 0;}

/* MAIN FUNCTION */
.aligner {max-width: 1024px; margin: 0 auto;}
.flex {display: flex;}
    .align_items_center {align-items: center;}
    .justify_content_space_between {justify-content: space-between;}

/* NAVIGATION */
nav {display: block; box-shadow: 0 2px 10px rgba(0,0,0,.1); height: 200px; margin-bottom: 20px;}

/* INDEX */
.api_table_section {padding: 10px; font-weight: bold; background: #333; color: #fff; font-size: 20px; text-transform: uppercase;}
.api_table_row {display: flex; padding: 10px; border: 1px solid #f1f1f1; border-top: none;}
    .api_table_row:nth-child(2n) {background: #f9f9f9;}
.api_table_row div {padding-right: 10px;}
    .api_table_row div:last-child {padding: 0px;}
.api_table_not_found {padding: 10px;}
.api_column_req span span b {font-size: 14px; display: block; padding-bottom: 5px;}
.api_column_req span span {font-size: 12px;}
.api_column_login_required i {display: block; margin-bottom: 10px; font-size: 20px;}

.required, .nonrequired {display: block; font-weight: bold; padding: 10px; width: calc(100% - 20px) !important; margin-bottom: 10px; border-radius: 50px; color: #016b01; background: #dcf9dc;}
.nonrequired {color: #b95907;background: #fdf0dc;}


.api_field {padding-bottom: 10px; display: block;}
.api_field_name {display: block;padding: 5px;color: #3c3c3c;background: #f1f1f1;border-radius: 3px;}
.api_method {background: #3062d2;display: inline-block;padding: 5px 10px;border-radius: 10px;color: #fff;font-weight: bold;}

.api_column_name {width: 15%; word-break: break-word;}
    .api_column_name span {font-size: 18px; display: block; font-weight: bold; position: relative; margin-bottom: 5px;}
        .api_column_name span:before {content: ''; position: absolute; background: #ababab; height: 3px; width: 50px; bottom: -5px; left: 0;}
.api_column_method {width: 10%}
.api_column_description {width: 40%; word-break: break-all}
    .api_column_description span {display: block;border: 1px dashed #ccc;padding: 10px;margin-bottom: 10px;background: #fff;}
.api_column_req {width: 25%;}
.api_column_login_required {width: 10%; text-align: center; font-size: 12px;}

@media screen and (max-width: 800px) {
    .api_table_row {flex-wrap: wrap; border-bottom: 15px solid #f1f1f1;}
    .api_table_row div {width: 100%; padding-right: 0px; padding-bottom: 10px; }
}